*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    background-color: grey;
    display: flex;
    text-align: center;
    
}

header #redes{
    position: absolute;
    bottom: 5px;
    right: 5px;
}