*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    position: relative;
    
    
}

header p{
    display: block;
    margin-top: 20px;
}

header #redes{
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;

}

header button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}