*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    background-color: grey;
    padding: 20px;
    margin-top: 10px;

}

header #logo{
    display: block;
    text-align: center;
}

header #redes{
    display: block;
    align-items: end;
    line-height: 2px;

}