*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

header #redes{
    display: flex;
    justify-content: end;
}