*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header #redes{
    position: absolute;
    bottom: 5px;
    right: 5px;
}