*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    
    
}

header #redes{
    display: flex;
    justify-content: end;

}